.CardContainer{
    border: solid #d9d9d9 1px;
    width: 240px;
    height: 368px;
    border-radius: 12px;
    transition: transform 0.3s ease;
}
.CardContainer:hover{
transform: scale(1.1);
}
.foodLink{
font-size: 16px;
margin-left: 16px;
}
.foodImg{
    width: 208px;
    height: 247px;
    background-size: cover;
    margin-top: 16px;
    border-radius: 8px;
    margin-left: 16px;
}
.food{
    line-height: 9px;
    margin-left: 16px;
    font-size: 20px;
}
.rating{
    line-height: 9px;
    margin-left: 20px;
    font-weight: bold;
}
.type{
    line-height: 9px;
    margin-left: 16px;
    color: gray;
    font-size: 15px;
}